lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.idea
.DS_Store
*.sass-cache
_*.css
*.pyc
*.lnk
*.log
*.csv
*.dat
*.out
*.pid
*.pem
*.key
*racegl*
*.gz

node_modules
public
public/*
pids
logs
results
temp

npm-debug.log
